/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #010117;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para o Título 1 */
.titulo-estilo1 {
    font-size: 2.5em;
    color: #323334; /* Cor azul */
    background-color: #f39898; /* Fundo azul-claro */
    padding: 15px 25px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Estilo para o Título 2 */
.titulo-estilo2 {
    font-size: 2.5em;
    color: #1a1b1a; /* Cor verde */
    background-color: #d6cf6b; /* Fundo verde-claro */
    padding: 15px 25px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Estilo para o Texto 1 */
.texto-estilo1 {
    font-size: 1.2em;
    color: #555; /* Cor cinza-escuro */
    background-color: #e6a3c2; /* Fundo azul-claro */
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align: center;
}

/* Estilo para o Texto 2 */
.texto-estilo2 {
    font-size: 1.2em;
    color: #333; /* Cor cinza-escuro */
    background-color: #e2f07e; /* Fundo verde-claro */
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align: center;
}
